In [82]:
import pandas as pd

staff_df = pd.DataFrame([{'Name': 'Kelly','Role': 'Director of HR'},
                        {'Name': 'John', 'Role': 'Data Scientist'},
                        {'Name': 'Dave','Role': 'Security'}])
staff_df = staff_df.set_index('Name')
student_df = pd.DataFrame([{'Name': 'Kelly','Role': 'Bussiness'},
                        {'Name': 'Ivan', 'Role': 'Biology'},
                        {'Name': 'Dave','Role': 'Technology'}]) 
student_df = student_df.set_index('Name')
print(staff_df)
print(student_df)

                 Role
Name
Kelly  Director of HR
John   Data Scientist
Dave         Security
             Role
Name
Kelly   Bussiness
Ivan      Biology
Dave   Technology

In [13]:
# if how = outer, return a datafram with all value, include nan
# HOW = left, only the left circle in Venn map
pd.merge(staff_df,student_df, how = 'inner',left_index = True, right_index = True)

               Role_x      Role_y
Name
Kelly  Director of HR   Bussiness
Dave         Security  Technology

In [80]:
staff_df = staff_df.reset_index()
pd.merge(staff_df,student_df, how = 'left',on = 'Name')

   level_0  index   Name          Role_x      Role_y
0        0      0  Kelly  Director of HR   Bussiness
1        1      1   John  Data Scientist         NaN
2        2      2   Dave        Security  Technology

# Pivot Table

A pivot table is the way of summarizing data for particular purpose.

In [1]:
# Test clgt